.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
#title-text {
    position: absolute;
    height: 100%;
    width: 100%;
    stroke: #000;
    stroke-width: 2;
    animation: hide 6s forwards;
}
 
#title-text text {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: dash 2.5s linear forwards, filling 2s ease-in forwards;
}
  
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
  
@keyframes filling {
    0% {
        fill: #222;
        fill-opacity: 0;
    }
    25% {
        fill: #555;
    }
    50% {
        fill: #0a9cc0;
        fill-opacity: 1;
    }
    100% {
        fill: #0a9cc0;
    }
}

@keyframes hide {
    60% {
        transform: translate(0, 0);
        opacity: 1;
    }
    90% {
        transform: translate(0, -2000px);
    }
    100% {
        opacity: 0;
    }
}
#container {
    opacity: 0;
    transition: opacity .5s;
}
.board-header {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
.board-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
#board-message {
    opacity: 0;
    transition: opacity .5s;
    color: #31fda8;
}
#timer {
    text-align: center;
    opacity: 0;
    transition: opacity .5s;
}
#board-button-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
#board-button {
    height: 50%;
    width: 90%;
    background-color: #0a9cc0;
    color: #fff;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
    opacity: 0;
}
#board-button:hover {
    background-color: #12bee9;
}
.row {
    line-height: 0;
}
.cell {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    border: 1px solid white;
    margin: -1px 0 0 -1px;
    transition: background-color .2s ease-in;
}
.inner-cell {
    opacity: 0;
    transition: opacity .1s;
}
.clicked {
    box-shadow: 0 0 10px #0a9cc0;
}
.possible {
    background-color: #145a3d;
}
.not-possible {
    background-color: #661616;
}
svg {
    height: 20px;
    align-self: flex-end;
    align-content: center;
    margin: 5px;
    transition: fill .3s;
}
svg:hover {
    fill: #0a9cc0;
    cursor: pointer;
}