.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
.row {
    line-height: 0;
}
.cell {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    border: 1px solid white;
    margin: -1px 0 0 -1px;
}
.clicked {
    background-color: #2d6e7e;
}